* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  font-family: Passion, sans-serif;
  background: #050327;
  background-size: cover;
  background-attachment: fixed;
  color: #e1f5fe;
  font-size: 62.5%;
}

.section-title {
  color: white;
  font-size: 4.5rem;
  margin-bottom: 1.3rem;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 1.5rem;
  color: #40c811;
}
p.marg-bottom {
  margin-bottom: 1.2rem;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 2.7rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.5rem;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}
.container,
.headerContainer {
  width: 90%;
  margin: auto;
}
.headerContainer {
  /* margin-top: 2rem; */

  height: 15vh;
  min-height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  padding: 0.1rem 0.1rem;
  border: #40c811 6px solid;
  font-family: "Passion One", cursive;
  font-size: 2rem;
  line-height: 0rem;
}
.linkList {
  display: flex;
}
.link {
  text-align: right;
  padding: 0.5rem;
}
